@font-face {
    font-family: "bmdh";
    src: url("../font/BMDOHYEON.ttf");
}

/* COMMON */
body {
    font-family: 'bmdh';
}

#wrap {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 480px;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

/* HEADER */
.header_container {
    width: 100%;
}
.header_container .title_container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
}
.header_container .title_container h2 {
    font-size: 12px;
}

/* MAIN */
.main_container {
    width: 100%;
}
.main_container .question_container {
    width: 80%;

}
.main_container .question_container .question_list {
    width: 100%;

}
.main_container .question_container .question_list .question_item {
    width: 100%;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_container .question_container .question_list .question_item .question_item_title {
    font-size: 14px;
    line-height: 17px;
}

.question_container .question_list .question_item .question_item_title .answer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.question_container .question_list .question_item .question_item_title .answer_input {
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 5px;
}

.question_container .question_list .question_item .question_item_title .answer_textarea {
    width: 90%;
    height: 200px;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}